@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Forgot Password";

}

<!-- /.login-logo -->
<div class="card">
    <div class="card-body login-card-body">
        <p>
            If you have an account with us, we have sent an email
            with the instructions to reset your password.
        </p>
        <p>Click <a asp-controller="Account" asp-action="Login">here</a> to login.</p>
    </div>
    <!-- /.login-card-body -->
</div>
